<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12">
                <div class="comments">
                    <h3 class="title">评论</h3>
                    <ul id="comment_list" class="list-unstyled mt30">
                        <li class="media">
                            <div>
                                <img class="d-flex mr-3" src="/static/images/user.png" width="60" alt="">
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0">John Doe</h5>
                                <h6></h6>
                                <p style="word-wrap:break-word;
                                word-break:break-all;
                                overflow: hidden;"></p>
                                <br>
                                <br>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>