<div class="ptb30">
    <div class="container">
        <div id="movie_grid" class="row">
            <div class="col-lg-3 col-md-4 col-sm-9">
                <div class="movie-box-2 mb30">
                    <div class="listing-container">
                        <div class="listing-image">
                            {% include 'star_part.html' %}
                            <img src="static/images/posters/poster-1.jpg" alt="">
                        </div>
                        <div class="listing-content">
                            <div class="inner">
                                <p class="title"></p>
                                <a href="movie-detail.html" class="btn btn-main btn-effect">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>