
<div class="ptb30">
    <div class="container">
        <!-- Start of Movie List -->
        <div id="movie_list" class="row">
            <div class="col-md-12 col-sm-12" style="cursor:pointer">
                <div class="watch-later-item">
                    <div class="listing-container">
                        <!-- Movie List Image -->
                        <div class="listing-image">
                            <img class="img-shadow" alt="">
                        </div>
                        <!-- Movie List Content -->
                        <div class="listing-content">
                            <div class="inner">
                                <h5 class="title"></h5>
                                <p></p>
                                {% include 'star_part.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>