<div class="stars">
    <div class="rating">
        <i class="fa fa-star-o" style="color:yellow"></i>
        <i class="fa fa-star-o" style="color:yellow"></i>
        <i class="fa fa-star-o" style="color:yellow"></i>
        <i class="fa fa-star-o" style="color:yellow"></i>
        <i class="fa fa-star-o" style="color:yellow"></i>
        <i class="fa fa-star-o" style="color:yellow"></i>
        <i class="fa fa-star-o" style="color:yellow"></i>
        <i class="fa fa-star-o" style="color:yellow"></i>
        <i class="fa fa-star-o" style="color:yellow"></i>
        <i class="fa fa-star-o" style="color:yellow"></i>
        <span></span>
    </div>

</div>